<a href="https://colab.research.google.com/github/as-bestinclass/pythonDataSci/blob/main/Anand_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

May 5th 2023 (homework from may 4th)

In [ ]:
#1) a=[1,2,3,4,5,6,7,8] Divide this list in two equal paths

a=[1,2,3,4,5,6,7,8]

a1 = a[0:len(a)//2:]
a2 = a[len(a)//2::]

print(a1)
print(a2)

[1, 2, 3, 4]
[5, 6, 7, 8]

In [ ]:
from itertools import count

#2) c=[1,2,3,4,5,1,2,3,'a','b',['h','a']] find count of all elements in this list

c=[1,2,3,4,5,1,2,3,'a','b',['h','a']]

A = c.pop()

# we will use extend because we cannot use append. extend joins two list like (AUB) append adds the element back
c.extend(A)


set1 = list(set(c))

print(set1)

print ("count of " + str(set1[0]) + " = " + str(c.count(set1[0])))
print ("count of " + str(set1[1]) + " = " + str(c.count(set1[1])))
print ("count of " + str(set1[2]) + " = " + str(c.count(set1[2])))
print ("count of " + str(set1[3]) + " = " + str(c.count(set1[3])))
print ("count of " + str(set1[4]) + " = " + str(c.count(set1[4])))
print ("count of " + str(set1[5]) + " = " + str(c.count(set1[5])))
print ("count of " + str(set1[6]) + " = " + str(c.count(set1[6])))
print ("count of " + str(set1[7]) + " = " + str(c.count(set1[7])))

[1, 2, 3, 4, 5, 'a', 'b', 'h']
count of 1 = 2
count of 2 = 2
count of 3 = 2
count of 4 = 1
count of 5 = 1
count of a = 2
count of b = 1
count of h = 1

In [ ]:
#3) Write a Python program to reverse a string "11abcdeghsuyy"

s = "11abcdeghsuyy"

print(s[::-1])

yyushgedcba11

In [ ]:
#4) Write a program to insert number 88 on 2nd index of this list and number on 2nd index should move to last index of the list
#   a=[1,2,3,4,5,7] Expected Output= [1,2,88,4,5,7,3]

a=[1,2,3,4,5,7]
a.append(88)

temp = a[2]
a[2] = a[6]
a[6] = temp

print(a)

[1, 2, 88, 4, 5, 7, 3]

In [ ]:
# Write A program to check if a person if eligible for voting or not?


age = 20

if age > 17:
  print("He is eligible to Vote")
else:
  print("No he is not eligible to vote")

He is eligible to Vote

In [ ]:
#2) Write A program to check if a number is even or odd?

num = 10

if (num%2) == 0:
  print("The number " + str(num) + " is even")
else:
  print("The number " + str(num) + " is odd")

The number 10 is even

In [ ]:
#3) Write a program to check if a number is divisible by 7 or not?

num = 99

if (num%7) == 0:
    print("The number " + str(num) + " is divisible by 7")
else:
    print("The number " + str(num) + " is not divisible by 7")

The number 99 is not divisible by 7

In [ ]:
#3) Write a program to check if a number is divisible by 7 or not?

num = 77
num2 = 50

if ((num/7)-(num//7)) == 0:
    print("The number " + str(num) + " is divisible by 7")
else:
    print("The number " + str(num) + " is not divisible by 7")

The number 77 is divisible by 7

In [ ]:
#4) Write a program to print "hello" if a number is a multiple of 5 else print "Bye" 

num = 50
num2 = 50

if ((num/5)-(num//5)) == 0:
    print("Hello")
else:
    print("Bye")

Hello

In [ ]:
"""
Write a program to calculate electricity bill according to following criteria

 

First 100 units                     No Charge

Next 100 units                     5 rupees per unit

After 200 Units                     10 rupees per unit"""


units = 350;

if (units<=100):
  print("Cost of your usage is Rs.0")
elif (units <= 200):
  print("Cost of your usage is Rs." + str((units-100)*5))
else:
  print("Cost of your usage is Rs." + str((500+(units-200)*10)))

Cost of your usage is Rs.2000

May 6th 2023 (homework from may 5th)

In [ ]:
#1) Write a program to find list digit of a number for example 131 the last digit is 1

n = 2344

print(n%10)

4

In [ ]:
"""
2) Write a program to check criteria of the student according to %

Marks                                 GRADES


> 90 marks                         A

<80 and >=90 marks        B

<60 and <= 80 marks       C

Below 60                            Failed"""



marks = 90

if (marks<60):
  print("Grade for " + str(marks) + " is Fail.")
elif (marks<=80):
  print("Grade for " + str(marks) + " is C.")
elif (marks<=90):
  print("Grade for " + str(marks) + " is B.")
elif (marks>90):
  print("Grade for " + str(marks) + " is A.")

Grade for 90 is B.

In [ ]:
#3)  Write a program to take input between 1-12 and print which month of the year is it?  (Hint)  1 is January

inp = 1

if (inp == 1):
  print("January")
elif (inp == 2):
  print("February")
elif (inp == 3):
  print("March")
elif (inp == 4):
  print("April")
elif (inp == 5):
  print("May")
elif (inp == 6):
  print("June")
elif (inp == 7):
  print("July")
elif (inp == 8):
  print("August")
elif (inp == 9):
  print("September")
elif (inp == 10):
  print("October")
elif (inp == 11):
  print("November")
elif (inp == 12):
  print("December")
else:
  print("Invalid")

January

In [ ]:
#4)  Write a program to take input between 1-7 and print which day of week it is (Hint)  1 is Sunday

inp = 5

if (inp == 1):
  print("Sunday")
elif (inp == 2):
  print("Monday")
elif (inp == 3):
  print("Tuesday")
elif (inp == 4):
  print("Wednesday")
elif (inp == 5):
  print("Thursday")
elif (inp == 6):
  print("Friday")
elif (inp == 7):
  print("Saturday")
else:
  print("Invalid")

Thursday

In [ ]:
"""#5) Check which number is greatest and smallest?

A= 82

B=76

C=51

D=42"""

A= 82

B=76

C=51

D=42

decisionSet = set([A,B,C,D])

print('min is ' + str(min(decisionSet)))
print('max is ' + str(max(decisionSet)))

min is 42
max is 82

In [ ]:
#6) Check if a person is senior citizen or NO?

age = 44

if (age >= 60):
  print("Sir/Ma'am is a Senior Citizen")
else:
  print("haha, you're a Child")

haha, you're a Child

In [ ]:
#7) Check if a number is positive or negative

num = -88

if (num >= 0):
  print("Positive")
else:
  print("Negative")

Negative

In [ ]:
#8) Check if a number is divisible by both 2 and 3

num = 12

if (num%2 == 0 and num%3 == 0):
  print("Yes, it's divisible by 2 & 3")
else:
  print("sorry, it is not divisible by 2 and 3 both, please pick another number")

Yes, it's divisible by 2 & 3

In [ ]:
#9) Check if a character entered is a vowel or not

inp = "E"
inp = inp.lower()

if (inp == "a" or inp == "e" or inp == "i" or inp == "o" or inp == "u"):
  print ("It's a Vowel")
else:
  print ("It's not vowel")

It's a Vowel

In [ ]:
"""
10) Tell which person is the youngest and oldest

 

Messi=82

Ronaldo=91

Ronaldino=62

Neymar=51"""

Messi=82

Ronaldo=91

Ronaldino=62

Neymar=51



setAge = list([Messi, Ronaldo, Ronaldino, Neymar])

smallest = setAge[0]

oldest = setAge[0]

if smallest>setAge[1]:
  smallest = setAge[1]
elif smallest>setAge[2]:
  smallest = setAge[2]
elif smallest>setAge[3]:
  smallest = setAge[3]

if oldest<setAge[1]:
  oldest = setAge[1]
elif oldest<setAge[2]:
  oldest = setAge[2]
elif oldest<setAge[3]:
  oldest = setAge[3]

print("The youngest one is " + str(smallest))
print("The oldest one is " + str(oldest))

The youngest one is 62
The oldest one is 91

In [ ]:
#create a Tuppl for a forloop and access it

tuppl1 = (1, 2, "Hello", 3.14)

for x in tuppl1:
  print(x)
else:
  print("Ended")

1
2
Hello
3.14
Ended

In [ ]:
#write a program to print a pyramid

count = 1
for i in range(11,0,-1):

  for j in range(0, i):
    (print(' ', end = ''))

  for k in range(0, count):
    print('*',end = '')
 
  print()

  count = count +1
  if count%2 ==0:
    count = count +1

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************

In [ ]:
# 1) check if a number is prime or not

num1 = 51

x = True

for i in range(2, num1):
  if num1%i == 0:
    x = False

if x == True:
  print("Prime")
else:
  print("Not Prime")

Not Prime

In [ ]:
rangeNum = 100
x = True
for k in range(2, rangeNum):
  for i in range(2, k):
    if k % i == 0:
      x = False
  if x == True:
    print(str(k) + " is Prime")

2 is Prime
3 is Prime

In [ ]:
rangeNum = 100
for k in range(2, rangeNum):
  x = True
  for i in range(2, k):
    if k%i == 0:
      x = False
  if x == True:
    print(str(k) + " is Prime")

2 is Prime
3 is Prime
5 is Prime
7 is Prime
11 is Prime
13 is Prime
17 is Prime
19 is Prime
23 is Prime
29 is Prime
31 is Prime
37 is Prime
41 is Prime
43 is Prime
47 is Prime
53 is Prime
59 is Prime
61 is Prime
67 is Prime
71 is Prime
73 is Prime
79 is Prime
83 is Prime
89 is Prime
97 is Prime

May 9th 2023 (homework from may 8th)

In [ ]:
#1) Calculate the sum of all numbers from 1 to a given number

#1+2+3+4+5= 15

x = 20
sum = 0
for i in range(1, x+1):
  sum = sum + i

print("Sum of all numbers till " + str(x) + " is " + str(sum))

Sum of all numbers till 20 is 210

In [ ]:
+1#2) Write a program to print multiplication table of a given number

x = 10

for i in range(1, x+1):
  print(str(x) + " x " + str(i) + " = " + str(i*x))

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
#3) Count the total number of digits in a number

x = 987688768689669869696866988676789678969699689868669688979896769
counter = 1

for i in range(0, x):
  if x//10 > 0:
    counter = counter + 1
    x = x//10
  else:
    break

print("The number is " + str(counter) + " digits long.")

The number is 63 digits long.

In [ ]:
#4) Reverse a given integer number

x = 123
y = 0

for i in range(1, x+1):
  if x//10 > 0:
    y = (y*10) + (x%10)
    x = x//10
  else:
    break
y = y*10 + x
print(y)

321

In [ ]:
#5) Calculate the cube of all numbers from 1 to a given number

x = 10

for i in range(1, x+1):
  print("Cube of " + str(i) + " is " + str(i*i*i))

Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64
Cube of 5 is 125
Cube of 6 is 216
Cube of 7 is 343
Cube of 8 is 512
Cube of 9 is 729
Cube of 10 is 1000

In [ ]:
#square pyramid
n=5
for i in range (1, n+1):
  for l in range(0, n-i):
    print(' ', end='')
  for j in range (0, i):
    print('* ', end='')
  print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#upside down pyramid

n=8

for i in range(n,0,-1):

  for l in range(0, n-i):
    print(' ', end='')

  for j in range (0, i):
    print('* ', end='')
  
  print()

* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [ ]:
#hourglass
n=8

#upside down pyramid
for i in range(n,0,-1):
  for l in range(0, n-i):
    print(' ', end='')
  for j in range (0, i):
    print('* ', end='')
  print()
  if (i==1):
    break

#regular pyramid
for i in range (2, n+1):
  for l in range(0, n-i):
    print(' ', end='')
  for j in range (0, i):
    print('* ', end='')
  print()

* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

In [ ]:
#Write a Python program to count the number of characters (character frequency) in a string.

s = "Hi My name is Slim Shady".lower() # lower is turning all the characters into lower case for capital and small letters are different
setS = set(s)

for i in setS: # i is giving all the unique characters in the set of string
  freq = 0
  for j in s: # j is giving each characters from the string one at at time
    if i == j:
      freq = freq+1
  print("The frequency of " + str(i) + " is " + str(freq))

The frequency of d is 1
The frequency of m is 3
The frequency of y is 2
The frequency of i is 3
The frequency of e is 1
The frequency of s is 3
The frequency of n is 1
The frequency of a is 2
The frequency of   is 5
The frequency of l is 1
The frequency of h is 2

In [ ]:
""" int()
float()
complex()
bool()
str()
list()
tuple()
set()
dict()"""

int1 = int(input("enter valid int number "))
print(int1)
print(type(int1))


float1 = float(input("enter valid float number "))
print(float1)
print(type(float1))


complex = complex(input("enter valid complex number "))
print(float1)
print(type(float1))


bool1 = float(input("enter valid bool number "))
print(bool1)
print(type(bool1))


str1 = str(input("enter valid string"))
print(str1)
print(type(str1))


list1 = list(input("enter valid list"))
print(list1)
print(type(list1))


tuple1 = tuple(input("enter valid tuple "))
print(tuple1)
print(type(tuple1))


set1 = set(input("enter valid set "))
print(set1)
print(type(set1))



dict1 = dict(input("enter valid dict"))
print(dict1)
print(type(dict1))

enter valid int number 123
123
<class 'int'>
enter valid float number 312
312.0
<class 'float'>
enter valid complex number 2+4j
312.0
<class 'float'>

KeyboardInterrupt: ignored

In [ ]:
tup1 = (1,2,3,4,5,6,7,8,9,10)
print(tup1)
lst1 = list(tup1)
print(lst1)
lst1.append(19)
print(lst1)
lst1.extend([22,33,44,55])
print(lst1)
lst1.insert(0,70)
print(lst1)
print(tuple(lst1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 19, 22, 33, 44, 55]
[70, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 19, 22, 33, 44, 55]
(70, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 19, 22, 33, 44, 55)

In [ ]:
# Python program to convert lower letter to upper and upper letter to lower in a string.

str1 = "TestString"

for i in str1:
  if i.islower():
    i = i.upper()
  else:
    i = i.lower()
  print(i,end='')

tESTsTRING

In [ ]:
#Write a python program to sort letters of word by lower to upper case format.

str1 = "Write a python program to sort letters of word by lower to upper case format"
strU = ""
strL = ""

for i in str1:
  if i.islower():
    strL = strL + i
  else:
    strU = strU + i

listU=list(strU)
listU.sort()

listL=list(strL)
listL.sort()

strU="".join(listU)
strL="".join(listL)
print(strU+strL)

              Waaaabcdeeeeeeffghillmmnooooooooopppprrrrrrrrrsssttttttttuwwyy

In [ ]:
#Write a program in Python to count lower, upper, numeric and special characters in a string11.

str1 = "Write a program in Python to count lower, upper, numeric and special characters in a string11."

l=0
u=0
n=0
s=0

for i in str1:
  if i.islower():
    l=l+1
  elif i.isupper():
    u=u+1
  elif i=='1' or i=='2' or i=='3' or i=='4' or i=='5' or i=='6' or i=='7' or i=='8' or i=='9' or i=='0':
    n=n+1
  else:
    s=s+1

print('lower ', l)
print('upper ', u)
print('num ', n)
print('special ', s)

lower  72
upper  2
num  2
special  18

In [ ]:
#Write a program in Python to count lower, upper, numeric and special characters in a string11.

str1 = "Write a program in Python to count lower, upper, numeric and special characters in a string11."

l=0
u=0
n=0
s=0

for i in str1:
  if i.islower():
    l=l+1
  elif i.isupper():
    u=u+1
  elif i.isnumeric():
    n=n+1
  else:
    s=s+1

print('lower ', l)
print('upper ', u)
print('num ', n)
print('special ', s)

lower  72
upper  2
num  2
special  18

In [ ]:
#Write a program in Python to remove an empty character from a list sequence.

demo_list=['hello','1','','bye']
for i in demo_list:
  if i == '':
    demo_list.remove(i)

print (demo_list)

['hello', '1', 'bye']

In [ ]:
# find the file extension from the name of the file for example demofile.pdf

fileName = "demofile.dfd"
extName=''
c=0
for i in fileName:
  if i =='.':
    break
  c=c+1

print(fileName[c:len(fileName)])

.dfd

In [ ]:
"""
1) Swap two numbers using 3rd variable
2) Swap two numbers without using 3rd variable
3) Remove duplicate elements from a list without converting to tuple
3) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers
4) Write a loop to print following series
10, 20, 30,  …………………, 300
5) Write a loop to print following series
105,98,91,………………………,7
6) Write a program to print number names of digits in a number like 
SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE
7) Write a program to print Fibonacci series till n terms take n =50
8) Write a program to print factorial of a number
9) Write a program to check if a number is Armstrong or not
10) Write a program to convert binary to decimal
11) Write a program to convert decimal to binary
12) Write a program to check if number is palindrome on not (Without converting to string)
13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500
14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.
15) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0
16. Write a Python program that accepts a string and calculates the number of digits and letters.
Sample Data: Python 3.2
Expected Output: 
Letters 6
Digits 2
17) Print all possible combination for a string or a word
Sample input “ABC”
Sample output
BAC
CAB
CBA
ACB
BCA

18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side


Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides.

19) Write a Python program to get the next day of a given date.
Expected Output:
Input a year: 2016                                                      
Input a month [1-12]: 08                                                
Input a day [1-31]: 23                                                  
The next date is [yyyy-mm-dd] 2016-8-24  
"""

In [ ]:
#1) Swap two numbers using 3rd variable

input1 = 10
input2 = 20

print('Current variable1 and variable2 are: ', input1, ' and ', input2)

tempv = input1
input1=input2
input2=tempv

print('Swapped variable1 and variable2 are: ', input1, ' and ', input2)

Current variable1 and variable2 are:  10  and  20
Swapped variable1 and variable2 are:  20  and  10

In [ ]:
#Swap two numbers without using 3rd variable


input1 = 10
input2 = 20

print('Current variable1 and variable2 are: ', input1, ' and ', input2)

input1=input1+input2
input2=input1-input2
input1=input1-input2

print('Swapped variable1 and variable2 are: ', input1, ' and ', input2)

Current variable1 and variable2 are:  10  and  20
Swapped variable1 and variable2 are:  20  and  10

In [ ]:
#3) Remove duplicate elements from a list without converting to tuple

listA =[2,5,3,2,1,1]
setA=set(listA)

listA = list(setA)

print(listA)

[1, 2, 3, 5]

In [ ]:
from re import I
#3) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

num1 = 3
num2 = 2

if num1>num2:
  loopN=num1+1
else:
  loopN=num2+1

hcf=1
for i in range(1,loopN//2):
  if num1%i==0 and num2%i==0:
    hcf = i
print('HCF is ', hcf)

lcm=(num1*num2)//hcf
print('GCD is ', lcm)

HCF is  1
GCD is  6

In [ ]:
def comparision(a,b,c):
  listA = [a,b,c]
  print(listA)
  maxA = max(listA)
  minA = min(listA)
  print('max is ', maxA)
  print('min is', minA)

comparision(22,532,2)

[22, 532, 2]
max is  532
min is 2

In [ ]:
#split function

str2="filename.ext"

parts = str2.split(".")

print(parts[0], parts[1])

filename ext

In [ ]:
str1="string"
list1=list(str1)

#append vs extend
s=["a","b","c","d"]
list1.append(s)

list1.extend("t")
print(list1)

#index() FUNCTION

#pop() function

['s', 't', 'r', 'i', 'n', 'g', ['a', 'b', 'c', 'd'], 't']

In [ ]:
#fibonacci series upto 10

num1 = 0
num2 = 1
print(num1)
print(num2)
counter = 10
i=2
while (i<(counter)):
  num3 = num1 + num2
  print(num3)
  num1 = num2
  num2 = num3
  i=i+1

0
1
1
2
3
5
8
13
21
34

In [ ]:
#grades from dictionary

stud_name = ['abha','brajesh','chandni','diksha','esha'] #,'fibbo','gopal','hitesh','indra','jatin']
stud_num  = {'abha':[99,98,97,96,95],
             'brajesh':[69,68,67,66,65],
             'chandni':[89,98,77,56,75],
             'diksha':[39,48,57,66,75],
             'esha':[69,48,47,36,55]}

def avg(listA):
  total = sum(listA)
  n = len(listA)
  avg = total/n
  return avg

def printGrade(avg, name):
    if avg > 90:
      print(name, ' has received Grade A')
    elif avg> 80:
      print(name, ' has received Grade B')
    elif avg > 70:
      print(name, ' has received Grade C')
    elif avg > 60:
      print(name, ' has received Grade D')
    else:
      print(name, ' has Failed.')

def gradeReport(dictA):
  #declaring name, which is an input form the user
  name = (input('Enter the students name: ')).lower()

  #for loop is checking keys present in the dict
  for key in dictA:
    #listVal (is an average) is declared as list that comes form the value accessed through the key named "name"
    listVal = avg(dictA[name])
    if key==name:
      printGrade(listVal, name)

gradeReport(stud_num)

Enter the students name: chandni
chandni  has received Grade C

In [ ]:
"""#Rock Paper Scissors Game
import random

def getWinner(machine, human):
  # scior < rock
  # rock < paper
  # paper < scior
  if machine == human:
    print('Tie. Try again')
    Game()
  elif machine == 's' and human == 'r':
    return 'human'
  elif machine == 'r' and human == 'p':
    print('Machine is ', machine)
    return 'machine'
  elif machine == 'p' and human == 's':
    return 'human'
  else:
    print('machine is ', machine)
    Game()

winner = 'machine'

def Game():
  userInput = input('Enter your card as s for Scissor, r for Rock, p for Paper: ').lower()
  cards = ['r', 'p', 's']
  random_machine = random.choice(cards)
  winner = str(getWinner(random_machine, userInput))
  return winner

Game()
while(winner != 'human'):
  print('machine is ', winner, ' Machine has won try again')
  winner = Game()
  if winner == 'human':
    print('Youre a winner')
    break"""

KeyboardInterrupt: ignored

In [ ]:
"""import random
def getWinner(humanInput):
  cards = ['r', 'p', 's']
  machineInput = random.choice(cards)
  print('Machine is ', machineInput)

  #human = p
  if machineInput == 'r' and humanInput == 'p':
    return 'human'
  elif machineInput == 'p' and humanInput == 'p':
    return 'tie'
  elif machineInput == 's' and humanInput == 'p':
    return 'machine'

  #human = r
  if machineInput == 'r' and humanInput == 'r':
    return 'tie'
  elif machineInput == 'p' and humanInput == 'r':
    return 'machine'
  elif machineInput == 's' and humanInput == 'r':
    return 'human'

  #human = s
  if machineInput == 'r' and humanInput == 's':
    return 'machine'
  elif machineInput == 'p' and humanInput == 's':
    return 'human'
  elif machineInput == 's' and humanInput == 's':
    return 'tie'

def Game():
  userInput = input('Enter your card as s for Scissor, r for Rock, p for Paper: ').lower()
  winner = getWinner(userInput)
  return winner

Game()
if winner == 'tie':
  print('Machine is also', winner)
  print('Uh oh! It is a tie, Try again')
  Game()
elif winner == 'machine':
  print('Machine has won. Try again. And btw machine is ', winner)
  Game()
else:
  print('Congrats you have won!')"""

Enter your card as s for Scissor, r for Rock, p for Paper: r
Machine is  r
Machine has won. Try again. And btw machine is  machine
Enter your card as s for Scissor, r for Rock, p for Paper: r
Machine is  p

In [ ]:
import random

while(1):
  u = input('Enter your card as s for Scissor, r for Rock, p for Paper: ').lower()

  cards = ['r', 'p', 's']
  m = random.choice(cards)

  if (u == m):
    print('It is a tie. Play again')
    continue
  
  elif (u == 'r' and m == 'p'):
    print('You lose. Paper wins')
    continue
  elif (u == 'r' and m == 's'):
    print('You won! Scissor lose')
    break

  elif (u == 'p' and m == 's'):
    print('You lose. Scissor wins')
    continue
  elif (u == 'p' and m == 'r'):
    print('You won! rock lose')
    break

  elif (u == 's' and m == 'r'):
    print('You lose. Rock wins')
    continue
  elif (u == 's' and m == 'p'):
    print('You won! paper loser')
    break

Enter your card as s for Scissor, r for Rock, p for Paper: p
You lose. Scissor wins
Enter your card as s for Scissor, r for Rock, p for Paper: p
You lose. Scissor wins
Enter your card as s for Scissor, r for Rock, p for Paper: p
It is a tie. Play again
Enter your card as s for Scissor, r for Rock, p for Paper: p
You won! rock lose

In [ ]:
def dynamicFn(*anand):
  print(anand)

a=[1,2,555,12,2]
dynamicFn(1,2,4,5,1)
dynamicFn(5,'apples', 10, 'Bananas', 'Lord Faaraquad', a[1:5])
dynamicFn(33*4, 'a'+' for apple', 'chinese wall')

(1, 2, 4, 5, 1)
(5, 'apples', 10, 'Bananas', 'Lord Faaraquad', [2, 555, 12, 2])
(132, 'a for apple', 'chinese wall')

In [ ]:
def dynamicFn(anand, *apple):
  print(anand, apple)

a=[1,2,555,12,2]
dynamicFn(1,2,4,5,1)
dynamicFn(5,'apples', 10, 'Bananas', 'Lord Faaraquad', a[1:5])
dynamicFn(33*4, 'a'+' for apple', 'chinese wall')

1 (2, 4, 5, 1)
5 ('apples', 10, 'Bananas', 'Lord Faaraquad', [2, 555, 12, 2])
132 ('a for apple', 'chinese wall')

In [ ]:
def dynamicFn(*anand, apple):
  return (*anand+apple)

dynamicFn(1,2,4,5,1)

SyntaxError: ignored

In [ ]:
def dynamicFn(anand, *apple):
  sum = 0
  for arg in apple:
    sum = sum+ arg

  return (anand+ sum)

dynamicFn(1,2,4,5,1)

13

In [ ]:
def dynamicFn(val, *args, **kwargs):
  print(val, args, kwargs)

dynamicFn(1, 'apple', [1,'b',3], y={'a':'apple', 'b':'banana', 'c':'cherry'})

1 ('apple', [1, 'b', 3]) {'y': {'a': 'apple', 'b': 'banana', 'c': 'cherry'}}

In [ ]:
#Write a program to print twin primes less than 1000. 
#If two consecutive odd numbers are both prime then they are known as twin primes output 3,5   5,7  11,13

oldprime = 3
newprime = 5

rangeNum = 1000

for k in range(5, rangeNum):

  #checking if current value of k is prime
  x = True
  for i in range(2, k):
    if k%i == 0:
      x = False

  #this part will not execute until current value of k is prime
  if x == True:
    if newprime-oldprime == 2:
      print(oldprime, newprime)
    oldprime = newprime
    newprime = k

3 5
5 7
11 13
17 19
29 31
41 43
59 61
71 73
101 103
107 109
137 139
149 151
179 181
191 193
197 199
227 229
239 241
269 271
281 283
311 313
347 349
419 421
431 433
461 463
521 523
569 571
599 601
617 619
641 643
659 661
809 811
821 823
827 829
857 859
881 883

**May 16th 2023**

**3 Types of Errors**


1.   Runtime Error -- Can only be handled thru exception
2.   Syntax Error
3.   Indentation Error

In [ ]:
# write a program
# 1. Exception
# 2. ZeroDivisionError
# 3. AttributeError
# 4. IndexError

try:
  n = 0
  print(100/n)
except ZeroDivisionError as zde:
  print('the error is ', zde)

try:
  z = (1,2,3)
  z.pop(z[77])
  print(z[9898])    
except Exception as ie:
  print('error is  ', ie)  

try:
  q = ['s','ee','qwqw']
  print(q[44])
except IndexError as ie:
  print('error is ', ie)

the error is  division by zero
error is   'tuple' object has no attribute 'pop'
error is  list index out of range

In [ ]:
# write a program
# 1. Exception
# 2. ZeroDivisionError
# 3. AttributeError
# 4. IndexError

try:
  n = 3
  print(100/n)
except ZeroDivisionError as zde:
  print('the error is ', zde)

try:
  z = [1,2,3]
  print(z.pop())  
except Exception as ie:
  print('error is  ', ie)  

try:
  q = ['s','ee','qwqw']
  print(q[2])
except IndexError as ie:
  print('error is ', ie)

In [ ]:
"""lst1 = [1,2,3,4,5,6,7]

i = a

if i in ASCII[1:5]:
  print(True)
else:
  print(False)"""

print('For Strings')
print("------------------------")
print(dir('Hello')) # list of all the possible inbuilt fn for string

print('\n***********************')
print('For Int')
print("------------------------")
print(dir(101)) # list of all the possible inbuilt fn for int


print('\n***********************')
print('For list')
print("------------------------")
print(dir([])) # list of all the possible inbuilt fn for list

For Strings
------------------------
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

***********************
For Int
------------------------
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

***********************
For list
------------------------
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
#Write a program to find out the prime factors of a number. Example: prime factors of 56
#ps. according to byjus.com, As the number 7 is a prime number, it should have only two factors, such as one and the number itself.

rangeNum = 99
for k in range(2, rangeNum+1):
  x = True
  for i in range(2, k):
    if k%i == 0:
      x = False
  if x == True and rangeNum%k == 0:
    print(str(k) + " is a Prime factor")

3 is a Prime factor
11 is a Prime factor

In [ ]:
#If all digits of a number n are multiplied by each other repeating with the product, 
#the one digit number obtained at last is called the multiplicative digital root of n.
#The number of times digits need to be multiplied to reach one digit is called the multiplicative persistance of n

#Example: 86 -> 48 -> 32 -> 6 (MDR 6, MPersistence 3)
# 341 -> 12->2           (MDR 2, MPersistence 2)


def selfMulti(n):
  a = 1
  for i in range(len(str(n))):
    mod = n%10
    a = a*mod
    n = n//10
  return a

givenNum = int(input("Enter a number: "))
print("The entered number is:", givenNum)
MDR = givenNum

count = 0
while(MDR>9):
  MDR = selfMulti(MDR)
  count = count+1

print('MDR is', MDR)
print('MPersistence is', count)

Enter a number: 333
The entered number is: 333
MDR is 4
MPersistence is 3

**May 17th 2023**

In [ ]:
"""
Write this dictonary to text file
read the data from text file
and convert it back to dictoanary
"""
val={}
for k in range(5):
  val["Name"+str(k)]=k

val=str(val)
#print(dict1)

f = open("dict.txt", 'w')
f.write(val)
f.close()
f = open("dict.txt", 'r')
outVal = f.read()

#outVal is in string format. hence, converting string back to dict
outDict = eval(outVal)
print(outDict)
f.close()

#this is what eval does
print(eval("1+3"))

{'Name0': 0, 'Name1': 1, 'Name2': 2, 'Name3': 3, 'Name4': 4}
4

**MAY 18TH 2023**

In [ ]:
# create class dellXzen
# create 3 variable dell1, dell2, dell3
# create 3 objects dXz1, dXz2, dXz3
# from each object access variable

class dellXzen:
  dell1 = 'dell1'
  dell2 = 'dell2'
  dell3 = 'dell3'

dXz1 = dellXzen()
dXz2 = dellXzen()
dXz3 = dellXzen()

print(dXz1.dell1)
print(dXz2.dell2)
print(dXz3.dell3)

dell1
dell2
dell3

In [ ]:
#class -> blueprint
#object -> something made from that blueprint
#form a blueprint we can make a house
#once we have a house, we can access rooms in it

class House:
  livingroom = 'sofa, tv, lamp'
  bedroom = 'bed, nightstand'
  kitchen = 'stove, countertop'
  toilet = 'shower'
print('')
print('')


#house in dallas
newHouse = House()

print(newHouse)


print('')
print('')
print(newHouse.livingroom)
print(newHouse.kitchen)


#house in newyork
newyorkHouse = House()
furniture = newyorkHouse.livingroom
print(furniture)

<__main__.House object at 0x7f4fa1983a30>


sofa, tv, lamp
stove, countertop
sofa, tv, lamp

In [ ]:
class iPhone15Pro:
  def __init__(self, processor, ram, int_mem, display, camera, price):
    self.processor = processor
    self.ram = ram
    self.int_mem = int_mem
    self.display = display
    self.camera = camera
    self.price = price

  def print_details(self):
    print("Processor: ", self.processor,
          "\nRAM: ", self.ram,
          "\nInternal Memory: ", self.int_mem,
          "\nDisplay: ", self.display,
          "\nCamera: ", self.camera)
  
  def print_price(self):
    print('')
    print('Retail Price is $', self.price)
    newLinePrice = (self.price)/2
    print('New Line Price gets 50% off, hence the price for new line customers is $', newLinePrice)
    switchPrice = abs((self.price)-800)
    print('Switch Price gets $800 off, hence the price for switch customers on new Go5G max plan is $', switchPrice)
    upgrade = (self.price)//18
    print('Upgrade price for existing customers is $', upgrade, ' per month for 18 months')


newiphone = iPhone15Pro('3.1Ghz', '4GB', '128GB', '6.5 inches', '50MP', 1000)
newiphone.print_details()
newiphone.print_price()

Processor:  3.1Ghz
RAM:  4GB
Internal Memory:  128GB
Display:  6.5 inches
Camera:  50MP

Retail Price is $ 1000
New Line Price gets 50% off, hence the price for new line customers is $ 500.0
Switch Price gets $800 off, hence the price for switch customers on new Go5G max plan is $ 200
Upgrade price for existing customers is $ 55  per month for 18 months

In [ ]:
class computer:
  def __init__(self, model, price):
    self.model = model
    self.price = price

  def printname(self):
    print("Model Name is: ", self.model, "\nPrice of the model is ", self.price)

In [ ]:
class desktop(computer):
  def __init__(self, brand, price):
    self.brand = brand
    self.price = price

  def printname(self):
    print("Name of desktop is : ", self.brand, "\nCost is ", self.price)

In [ ]:
class laptop(computer):
  def __init__(self, brand, price):
    self.brand = brand
    self.price = price

  def printname(self):
    print("Name of laptop is : ", self.brand, "\nCost is ", self.price)

In [ ]:
comp1 = desktop('apple macmini', 2000)
comp1.printname()

Name of desktop is :  apple macmini
Cost is  2000

In [ ]:
comp2 = laptop('dell inspiron', 800)
comp2.printname()

Name of laptop is :  dell inspiron
Cost is  800

In [ ]:
# super() function

class Alpha:
	classvar1 = "classvar1 - Class Alpha - Class local variable"
	def __init__(self):
		self.var1 = "self.var1 - Class Alpha - Constructor or __init__ function"
		self.classvar1 = "self.classvar1 - Class Alpha - Instance variable"

class Beta(Alpha):
  classvar1 = "Class Beta - Class local variable"
  def __init__(self):
    
    self.var1 = "self.var1 - Class Beta - Constructor or __init__ function"
    self.classvar1 = "self.classvar1 - Class Beta - Instance variable"
    super().__init__()
a = Alpha()
b = Beta()

print(b.classvar1, b.var1)

In [ ]:
# Method Overriding

class Alpha:
	classvar1 = "classvar1 - Class Alpha - Class local variable"
	def __init__(self):
		self.var1 = "self.var1 - Class Alpha - Constructor or __init__ function"
		self.classvar1 = "self.classvar1 - Class Alpha - Instance variable"

class Beta(Alpha):
  classvar1 = "Class Beta - Class local variable"
  def __init__(self):
    self.var1 = "self.var1 - Class Beta - Constructor or __init__ function"
    self.classvar1 = "self.classvar1 - Class Beta - Instance variable"
a = Alpha()
b = Beta()

print(b.var1, b.classvar1)

In [11]:
#a class to show example of overriding using super function

class Drive:
    driver = 'Default Driver Input'

    def __init__(self, driver):
        self.driver = driver

    def acc(self, speed):
        print(self.driver, 'is driving at', speed)

class Autopilot(Drive):
    driver = 'Default Autopilot Driver'

    def __init__(self, driver):
        super().__init__(driver)
        self.autopilot = 'Autopilot Driver'

    def acc(self, speed):
        speed = 60
        print(self.autopilot, 'is driving at', speed)

class Manual(Drive):
    driver = 'Human Driver'

    def __init__(self, humanName):
        super().__init__(humanName)
        self.humanName = humanName + ' Driver'

    def acc(self, speed):
        print(self.humanName, 'is driving at', speed)

# Creating instances of the classes and invoking the overridden methods

drive1 = Drive('John')
drive1.acc(50)  # Output: John is driving at 50

autopilot1 = Autopilot('Tesla Autopilot')
autopilot1.acc(0)  # Output: Autopilot Driving is driving at 60

manual1 = Manual('Sarah')
manual1.acc(40)  # Output: Sarah Driver is driving at 40

John is driving at 50
Autopilot Driver is driving at 60
Sarah Driver is driving at 40