<a href="https://colab.research.google.com/github/as-bestinclass/pythonDataSci/blob/main/Due_Week_3_%7C_Complete_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
1) Swap two numbers using 3rd variable
2) Swap two numbers without using 3rd variable
3) Remove duplicate elements from a list without converting to tuple
3) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers
4) Write a loop to print following series
10, 20, 30,  …………………, 300
5) Write a loop to print following series
105,98,91,………………………,7
6) Write a program to print number names of diegits in a number like 
SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE
7) Write a program to print Fibonacci series till n terms take n =50
8) Write a program to print factorial of a number
9) Write a program to check if a number is Armstrong or not
10) Write a program to convert binary to decimal
11) Write a program to convert decimal to binary
12) Write a program to check if number is palindrome on not (Without converting to string)
13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500
14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.
15) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0
16. Write a Python program that accepts a string and calculates the number of digits and letters.
Sample Data: Python 3.2
Expected Output: 
Letters 6
Digits 2
17) Print all possible combination for a string or a word
Sample input “ABC”
Sample output
BAC
CAB
CBA
ACB
BCA

18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side


Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides.

19) Write a Python program to get the next day of a given date.
Expected Output:
Input a year: 2016                                                      
Input a month [1-12]: 08                                                
Input a day [1-31]: 23                                                  
The next date is [yyyy-mm-dd] 2016-8-24  
"""

In [ ]:
#1) Swap two numbers using 3rd variable

input1 = 10
input2 = 20

print('Current variable1 and variable2 are: ', input1, ' and ', input2)

tempv = input1
input1=input2
input2=tempv

print('Swapped variable1 and variable2 are: ', input1, ' and ', input2)

In [ ]:
#2) Swap two numbers without using 3rd variable


input1 = 10
input2 = 20

print('Current variable1 and variable2 are: ', input1, ' and ', input2)

input1=input1+input2
input2=input1-input2
input1=input1-input2

print('Swapped variable1 and variable2 are: ', input1, ' and ', input2)

In [ ]:
#3) Remove duplicate elements from a list without converting to tuple

listA =[2,5,3,2,1,1]
setA=set(listA)

listA = list(setA)

print(listA)

In [ ]:
from re import I
#3) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

num1 = 3
num2 = 2

if num1>num2:
  loopN=num1+1
else:
  loopN=num2+1

hcf=1
for i in range(1,loopN//2):
  if num1%i==0 and num2%i==0:
    hcf = i
print('HCF is ', hcf)

lcm=(num1*num2)//hcf
print('GCD is ', lcm)

In [ ]:
#4) Write a loop to print following series 10, 20, 30,  …………………, 300

for i in range (1,31):
  print(i*10, end=', ')

10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300,

In [ ]:
#5) Write a loop to print following series 105,98,91,………………………,7

for i in range(105, 0, -7):
  print(i, end = ', ')

105, 98, 91, 84, 77, 70, 63, 56, 49, 42, 35, 28, 21, 14, 7,

In [ ]:
#6) Write a program to print number names of digits in a number like 
#SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE

inpN = 15907235710
inpS = str(inpN)

for i in range(len(inpS)):
  if inpS[i]=='1':
    print('One', end=' ')
  elif inpS[i]=='2':
    print('Two', end=' ')
  elif inpS[i]=='3':
    print('Three', end=' ')
  elif inpS[i]=='4':
    print('Four', end=' ')
  elif inpS[i]=='5':
    print('Five', end=' ')
  elif inpS[i]=='6':
    print('Six', end=' ')
  elif inpS[i]=='7':
    print('Seven', end=' ')
  elif inpS[i]=='8':
    print('Eight', end=' ')
  elif inpS[i]=='9':
    print('Nine', end=' ')
  elif inpS[i]=='0':
    print('Zero', end=' ')

One Five Nine Zero Seven Two Three Five Seven One Zero

In [ ]:
#7) Write a program to print Fibonacci series till n terms take n =50

firstN = 0
lastN = 1

n = 50

for i in range(n-1):
  sum = firstN + lastN
  print(sum, end = ', ')
  firstN = lastN
  lastN = sum

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025,

In [ ]:
#8) Write a program to print factorial of a number

n = 5
x=1
for i in range(1, n+1):
  x = x*i 

print(x)

120

In [ ]:
#9) Write a program to check if a number is Armstrong or not

def strLen(string):
    length = 0
    for _ in string:
        length += 1
    return length

originalInput = 1234
len=strLen(str(originalInput))

newN = 0
s=originalInput
for i in range(len):
  newN = newN + (s%10)**len
  s=s//10

if newN == originalInput:
  print(originalInput,' is Armstrong')
else:
  print(originalInput,' is not Armstrong')

1234  is not Armstrong

In [ ]:
#10) Write a program to convert binary to decimal
def strLen(string):
    length = 0
    for _ in string:
        length += 1
    return length

inp = 11011000
asdf = inp
lenth = strLen(str(asdf))
x=0

for i in range(lenth):
  x = x + (inp%10)*(2**i)
  inp = inp//10

print(x)

216

In [ ]:
#11) Write a program to convert decimal to binary

num = 171
x = num
binN = ''

while (num>1):
  if (num%2) == 1:
    binN = binN + '1'
  elif (num%2) == 0:
    binN = binN + '0'
  num = num//2

binN = binN +'1'
binN = binN[::-1]
print(binN)

10101011

In [ ]:
#12) Write a program to check if number is palindrome on not (Without converting to string)

inp = 12344321


h=inp
pN=0
while(h>0):
  pN = pN+ h%10
  pN = pN*10
  h = h//10
pN=pN//10


if(pN == inp):
  print(inp,'is a palindrome number')
else:
  print(inp,'is not a palindrome')

12344321 is a palindrome number

In [ ]:
#13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500

yes1=13
not2=3

for i in range(100,500):
  if i%yes1 == 0 and i%not2 != 0:
    print(i,'divisible by 13 but not by 3')

104 divisible by 13 but not by 3
130 divisible by 13 but not by 3
143 divisible by 13 but not by 3
169 divisible by 13 but not by 3
182 divisible by 13 but not by 3
208 divisible by 13 but not by 3
221 divisible by 13 but not by 3
247 divisible by 13 but not by 3
260 divisible by 13 but not by 3
286 divisible by 13 but not by 3
299 divisible by 13 but not by 3
325 divisible by 13 but not by 3
338 divisible by 13 but not by 3
364 divisible by 13 but not by 3
377 divisible by 13 but not by 3
403 divisible by 13 but not by 3
416 divisible by 13 but not by 3
442 divisible by 13 but not by 3
455 divisible by 13 but not by 3
481 divisible by 13 but not by 3
494 divisible by 13 but not by 3

In [ ]:
#14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.

def cTOf(c):
  f = ((9/5)*c)+32
  return f

def fTOc(f):
  c = (5/9)*(f-32)
  return c

cel = 0
far = 100

print(cTOf(cel))
print(fTOc(far))

32.0
37.77777777777778

In [ ]:
#15) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. 
#The element value in the i-th row and j-th column of the array should be i*j. else it will be 0

m = int(input("enter row "))
n = int(input("enter column "))

for i in range(n):
  for i in range(m):
    print('* ', end='')
  print('')

enter row 3
enter column 3
* * *
* * *
* * *

In [ ]:
# 16. Write a Python program that accepts a string and calculates the number of digits and letters.
#Sample Data: Python 3.2
#Expected Output: 
#Letters 6
#Digits 2
def strLen(string):
    length = 0
    for _ in string:
        length += 1
    return length

inp = str(input("Enter your phrase: "))
digits = 0
letters = 0
lenth = strLen(inp)

for i in range(lenth):
  if inp[i].isnumeric():
    digits+=1
  elif inp[i].isalpha():
    letters+=1
print('Letters:', letters)
print('Digits: ', digits)

Enter your phrase: python 3.2
Letters: 6
Digits:  2

In [ ]:
#17) Print all possible combination for a string or a word
"""Sample input “ABC”
Sample output
BAC
CAB
CBA
ACB
BCA"""

def strLen(string):
    length = 0
    for _ in string:
        length += 1
    return length

inp = str(input("Enter your phrase: "))

lenth = strLen(inp)
lst = []

for i in range(lenth):
  for j in range(i):

In [ ]:
#18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side
#Note :
#An equilateral triangle is a triangle in which all three sides are equal.
#A scalene triangle is a triangle that has three unequal sides.
#An isosceles triangle is a triangle with (at least) two equal sides.

side1 = str(input("Enter side1: "))
side2 = str(input("Enter side2: "))
side3 = str(input("Enter side3: "))

if side1 == side2 == side3:
  print('It is an equilateral traingle.')
elif side1 != side2 != side3:
  print('It is a scalen triangle.')
elif side1 == side2 != side3 or side1 != side2 == side3:
  print('Ir is an isoceles triangle.')

Enter side1: 1
Enter side2: 2
Enter side3: 3
It is a scalen triangle.

In [ ]:
#19) Write a Python program to get the next day of a given date.
#Expected Output:
#Input a year: 2016                                                      
#Input a month [1-12]: 08                                                
#Input a day [1-31]: 23                                                  
#The next date is [yyyy-mm-dd] 2016-8-24  

y = int(input("Enter year: "))
m = int(input("Enter month: "))
d = int(input("Enter day: "))

if (d<30 and m!=2) or (d<29 and m == 2 and y%4==0):
  d+=1
elif (d==30 and (m==4 or m==6 or m==8 or m==10)) or (d==31 and (m==1 or m==3 or m==5 or m==7 or m==8 or m==10)) or ((d==28 or d == 29) and m==2):
  d=1
  m+=1
elif (d==31 and m==12):
  d=1
  m=1
  y+=1
print('The next date is ', y,'-',m,'-',d)

Enter year: 2024
Enter month: 2
Enter day: 28
The next date is  2024 - 2 - 29