In [ ]:
#1.a=[1,2,3,4,5,6,7,8] Divide this list in two equal paths
a=[1,2,3,4,5,6,7,8]
print(a[0:len(a)//2])
print(a[len(a)//2:len(a)])

In [ ]:
#2.c=[1,2,3,4,5,1,2,3,'a','b',['h','a']] find count of all elements in this list
c=[1,2,3,4,5,1,2,3,'a','b',['h','a']]
pop_list=c.pop()
print(pop_list)
c.extend(pop_list)
print(c)
print(set(c))
print(c.count(1))
print(c.count(2))
print(c.count(3))
print(c.count(4))
print(c.count(5))
print(c.count('b'))
print(c.count('h'))
print(c.count('a'))

['h', 'a']
[1, 2, 3, 4, 5, 1, 2, 3, 'a', 'b', 'h', 'a']
{1, 2, 3, 4, 5, 'b', 'h', 'a'}
2
2
2
1
1
1
1
2

In [ ]:
#4.Write a program to insert number 88 on 2nd index of this list and number on 2nd index should move to last index of the list  a=[1,2,3,4,5,7] Expected Output= [1,2,88,4,5,7,3]
a=[1,2,3,4,5,7]
a.insert(2,88) 
print(a)
st=a.pop(3)
print(a)
a.append(st)
print(a)

[1, 2, 88, 3, 4, 5, 7]
[1, 2, 88, 4, 5, 7]
[1, 2, 88, 4, 5, 7, 3]

In [ ]:
#3) Write a Python program to reverse a string "11abcdeghsuyy"
a="11abcdeghsuyy"
a[::-1]

'yyushgedcba11'

In [ ]:
#1). Write A program to check if a person if eligible for voting or not?
age=19
if age>=18:
  print("You are eligible to vote.")
else:
  print("You are not eligible to vote.")

You are eligible to vote.

In [ ]:
#2. Check ODD or EVEN

n=23
if n%2==0:
  print("n is even")
else:
  print("n is odd")

n is odd

In [ ]:
#3. check if number is divisible by 7 or not
n=63
if n%7==0:
  print("n is divisible by 7")
else:
  print("not divisible by 7")

n is divisible by 7

In [ ]:
n=18
print(n/7)
print(n//7)

2.5714285714285716
2

In [ ]:
#4) Write a program to print "hello" if a number is a multiple of 5 else print "Bye" 
n=45
if n>=1 and n%5==0:
  print("Hello")
else:
   print("Bye")

Hello

In [ ]:
"""Write a program to calculate electricity bill according to following criteria

 First 100 units                     No Charge

Next 100 units                     5 rupees per unit

After 200 Units                     10 rupees per unit"""
bill=200

if bill<=100:
   print("No charge")

elif bill>100 and bill<=200:
  print("Bill amount is " +  str((bill-100)*5) + " rupees.")

elif bill > 200:
  print( "Bill amount is " + str((bill-100)*5+ (bill-200)*10) + " rupees.")

else:
  print("Not Found")

Bill amount is 500 rupees.

In [ ]:
"""1) Write a program to find list digit of a number

2) Write a program to check criteria of the student according to %

Marks                                 GRADES


> 90 marks                         A

<80 and >=90 marks        B

<60 and <= 80 marks       C

Below 60                            Failed

 

3)  Write a program to take input between 1-12 and print which month of the year is it?

Hint)  1 is January

 

4)  Write a program to take input between 1-7 and print which day of week it is

Hint)  1 is Sunday

 

5) Check which number is greatest and smallest?

A= 82

B=76

C=51

D=42

 

6) Check if a person is senior citizen or NO?

7) Check if a number is positive or negative

8) Check if a number is divisible by both 2 and 3

9) Check if a character entered is a vowel or not

 

 

 

10) Tell which person is the youngest and oldest

 

Messi=82

Ronaldo=91

Ronaldino=62

Neymar=51"""

Assignment 2. Week 1 05 MAy

In [ ]:
#1) Write a program to find last digit of a number

n=123
b=n%10
print("The last digit is",b)

The last digit is 3

In [ ]:
"""2) Write a program to check criteria of the student according to %

Marks                           GRADES


> 90 marks                       A

<80 and >=90 marks              B

<60 and <= 80 marks             C

Below 60                       Failed"""

Marks=67

if Marks> 90:
  print("Your grade is A.")
elif Marks>80:
  print("Your grade is B.")
elif Marks>60  :
   print("Your grade is C.")
elif Marks<=60:
  print("You have failed.")
else:
   print("Result not found.")

Your grade is C.

In [ ]:
"""3)  Write a program to take input between 1-12 and print which month of the year is it?

Hint)  1 is January"""


month=input("Enter the month.")
a=int(month)
if a==1:
  print("January")
elif a==2:
   print("Feburary")
elif a==3:
   print("March")  
elif a==4:
   print("April")  
elif a==5:
   print("May")  
elif a==6:
   print("June")  
elif a==7:
   print("July")  
elif a==8:
   print("August")  
elif a==9:
   print("September")
elif a==10:
   print("October")  
elif a==11:
   print("November")  
elif a==12:
   print("December") 
else:
  print("Error")

Enter the month.3
March

In [ ]:
"""4)  Write a program to take input between 1-7 and print which day of week it is

Hint)  1 is Sunday"""
day=input("Enter the number.")
a=int(day)
print(a)
print(type(a))
if a==1:
  print("Sunday")
elif a==2:
  print("Monday")
elif a==3:
  print("Tuesday")
elif a==4:
  print("Wednesday")
elif a==5:
  print("Thursday")
elif a==6:
  print("Friday")
elif a==7:
  print("Saturday")  
else:
  print("Error")

In [ ]:
"""5) Check which number is greatest and smallest?

A= 82

B=76

C=51

D=42"""

A=82
B=76
C=51
D=42
grt=A
if B>grt:
 grt=B
if C> grt:
  grt=C
if D>grt:
  grt=D   
print("Greatest is:", grt)
smlt=A
if B<smlt:
 smlt=B
if C< smlt:
  smlt=C
if D<smlt:
  smlt=D   
print("Smallest is:", smlt)

Greatest is: 82
Smallest is: 42

In [ ]:
#6) Check if a person is senior citizen or NO?
num=input("Enter the age:")
age=int(num)
if age>=62:
  print("Senior Citizen.")
elif age<62:
  print("Not a Senior Citizen.")  
else:
  print("error")

Enter the age:34
Not a Senior Citizen.

In [ ]:
#7) Check if a number is positive or negative.

a=input("Enter the number:")
num=int(a)
if num>0:
  print("positive")
elif num<0:
  print("negative")
else:
  print("zero")

Enter the number:56
positive

In [ ]:
#8) Check if a number is divisible by both 2 and 3

num=67
if num%2 and num%3==0:
  print("divisible by both 2 and 3")
else:
  print("not divisible by 2 and 3")

not divisible by 2 and 3

In [ ]:
#9) Check if a character entered is a vowel or not.

str1= 'a'
if str1=='a' or 'e'or 'i'or 'o' or 'u':
  print("vowel")
else:
  print("not a vowel")

vowel

In [ ]:
"""10) Tell which person is the youngest and oldest
 Messi=82
Ronaldo=91
Ronaldino=62
Neymar=51"""

Messi=82
Ronaldo=91
Ronaldino=62
Neymar=51

if Messi>Ronaldo:
  print("Messi is oldest")
elif Ronaldo>Ronaldino:
  print("Ronaldo is oldest")
elif Ronaldino>Neymar:
  print("Ronaldino is oldest")
else:
  print("Neymar is oldest")
 


if Messi<Ronaldo:
  print("Messi is youngest")
elif Ronaldo<Ronaldino:
  print("Ronaldo is youngest")
elif Ronaldino<Neymar:
  print("Ronaldino is youngest")
elif Messi<Neymar:
  print("Messi is youngest")  
else:
  print("Neymar is youngest")

Ronaldo is oldest
Messi is youngest

2nd week Monday 08 May

In [ ]:

for i in range(1,10,1):
  for j in range(i*2):
    print(j)
  print("==========")

0
1
==========
0
1
2
3
==========
0
1
2
3
4
5
==========
0
1
2
3
4
5
6
7
==========
0
1
2
3
4
5
6
7
8
9
==========
0
1
2
3
4
5
6
7
8
9
10
11
==========
0
1
2
3
4
5
6
7
8
9
10
11
12
13
==========
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
==========
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
==========

In [ ]:
# Check if a number is prime or not.

n=8
s=1
for i in range(2,9):
  if n%i==0:
    print("not a prime number")
    break;
    s=s+1
if s==1:
 print("prime")

not a prime number
prime

In [ ]:
# Check if a number is prime or not.
n=997
if n<=1:
 print(str(n)+"is a prime number")

for i in range(2,n//2):
  if n%i==0:
    print("not a prime")
    break
  else:
    print("prime")
    break

prime

In [ ]:
#print all prime numbers till a given range of 11( ie. 2,3,5,7,11)


for num in range(2,12):

  for i in range(2,num):

    if (num%i)==0:
        break
  else:  
    print(num)

11
11
2
11
2
11
2
3
4
11
2
11
2
3
4
5
6
11
2
11
2
3
11
2
11
2
3
4
5
6
7
8
9
10

In [ ]:
127//2

63

Assignment 3. 8 May

In [ ]:
"""1) Calculate the sum of all numbers from 1 to a given number

2) Write a program to print multiplication table of a given number

3) Count the total number of digits in a number

4) Reverse a given integer number

5) Calculate the cube of all numbers from 1 to a given number"""

In [ ]:
#1) Calculate the sum of all numbers from 1 to a given number
# calculate the sum of all numbers from 1 to 50.
n=20
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

210

In [ ]:
#2. Write a program to print multiplication table of a given number
n=7
for j in range(1,11):
  print(n," * ",j, " = ",n*j)

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

In [ ]:
#3.Count the total number of digits in a number
n=132
count=len(str(n))

print(count)

3

In [ ]:
n=19989997
count=0
while n>0:
  n=n//10
  count=count+1
print("The length of a integer is:",count)

In [ ]:
2%10

2

In [ ]:
#4) Reverse a given integer number.
n=12234
num=str(n)
b=(num[::-1])
print(b)

43221

In [ ]:
#5.Calculate the cube of all numbers from 1 to a given number
n=int(input("Enter the number:"))
cube=0
for i in range(1,n+1):
  cube=i**3
  print(cube)

Enter the number:4
1
8
27
64

Tuesday.9 may

In [ ]:
a=5
while a>=0:
  print("value of a is",a)
  if a==2:
    break
  else:
    print(a)
  a=a-1

value of a is 5
5
value of a is 4
4
value of a is 3
3
value of a is 2

In [ ]:
a=5
while a>=0:
  print("value of a is",a)
  a=a-1
  if a==2:
    continue
  else:
    print(a)

In [ ]:
#Write a Python program to count the number of characters (character frequency) in a string.

n=" I am fine"
set1=set(n)
print(set1)
count=0
while len(n)>0:
  b=len(n)//10
  count=count+1
print(count)

{' ', 'I', 'e', 'a', 'n', 'm', 'f', 'i'}

KeyboardInterrupt: ignored

In [ ]:
#Write a Python program to count the number of characters (character frequency) in a string.
text1="I am fine"
for i in set(text1):
  print("Frequency of " + str(i)+ " is:",text1.count(i))

Frequency of   is: 2
Frequency of I is: 1
Frequency of e is: 1
Frequency of a is: 1
Frequency of n is: 1
Frequency of m is: 1
Frequency of f is: 1
Frequency of i is: 1

In [ ]:
#Write a Python program to count the number of characters (character frequency) in a string.
# without count function
a="hello world i hope everyone is doing well"
for k in set(a):
  freq=0
  for j in a:
    if k==j:
      freq=freq+1
  print("Frequency of "+str(k) +" is :- ",freq)

Frequency of   is :-  7
Frequency of e is :-  6
Frequency of y is :-  1
Frequency of v is :-  1
Frequency of s is :-  1
Frequency of h is :-  2
Frequency of w is :-  2
Frequency of o is :-  5
Frequency of r is :-  2
Frequency of n is :-  2
Frequency of p is :-  1
Frequency of g is :-  1
Frequency of i is :-  3
Frequency of l is :-  5
Frequency of d is :-  2

# **10 May 2nd week** **Wednesday**

In [ ]:
#Python program to convert lower letter to upper and upper letter to lower in a string.

txt="I am fine"
swapped_str=""
for i in txt:
  if i.isupper():
    swapped_str=swapped_str+i.lower()
  else:
      swapped_str=swapped_str+i.upper()

print(swapped_str)

i AM FINE

In [ ]:
#Write a python program to sort letters of word by lower to upper case format.
txt1="Hello I am Shanti"

lower_string=""
upper_string=""
for i in txt1:
  if i.islower():

    lower_string=lower_string+i
  else:
    upper_string=upper_string+i
lower_string=sorted(lower_string)
upper_string=sorted(upper_string)   
print("".join(sorted(lower_string)+sorted(upper_string)))

aaehillmnot   HIS

In [ ]:
txt="Hello"

lower=[]
upper=[]
for i in txt1:
  if i.islower():

    lower.append(i)
  else:
    upper.append(i)
lower.sort()
upper=sort()   
print("".join(sort(lower)+sor(upper)))

NameError: ignored

In [ ]:
#Write a program in Python to count lower, upper, numeric and special characters in a string.

str1="Hey! how are you 1 ?"
lower_string=0
upper_string=0
num_string=0
spl_char=0

for i in str1:
  if i.islower():

    lower_string+=1
  elif i.isupper():
    upper_string=upper_string+1
  elif i.isnumeric():
    num_string=num_string+1 
  else: #space is counted as special character
      spl_char+=1

print("Count of lower_string is",lower_string)
print("Count of upper_string is",upper_string)   
print("Count of spl_char is",spl_char) 
print("Count of num_string is",num_string)

Count of lower_string is 11
Count of upper_string is 1
Count of spl_char is 7
Count of num_string is 1

In [ ]:
dir("hello")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#Write a program in Python to remove an empty character from a list sequence.

list1= ['hello','I','','fine','alright']

for i in list1:
  if len(i)<=0:
    list1.remove(i)
print(list1)

['hello', 'I', 'fine', 'alright']

In [ ]:
list1= ['hello',1,'','fine','alright']
new_list=[]
for i in list1:
  if len(str(i))>0:
    new_list.append(i)
print(new_list)

['hello', 1, 'fine', 'alright']

In [ ]:
#find the file extension from the name of the file for example demofile.pdf
str1="demofile.pdf"

splt=str1.split(".")
print(splt)
print("The file extension is",splt[-1])

['demofile', 'pdf']
The file extension is pdf