In [ ]:
#1) Swap two numbers using 3rd variable

a=5
b=10
c=a
a=b
print(a)
b=c
print(b)
print("After swapping a" ,"is",a)
print("After swapping b" ,"is",b)

10
5
After swapping a is 10
After swapping b is 5

In [ ]:
#2) Swap two numbers without using 3rd variable.
a=50
b=10
a=a+b
#print(a)
b=a-b
#print(b)
a=a-b
#print(a)
print("After swapping a" ,"is",a)
print("After swapping b" ,"is",b)

After swapping a is 10
After swapping b is 50

In [ ]:
#3) Remove duplicate elements from a list without converting to tuple.
lst1=[1,2,4,5,2,1,6,7]
new_list=[]
for i  in lst1:
  if i not in new_list:
   new_list.append(i)
print(new_list)

[1, 2, 4, 5, 6, 7]

In [ ]:
#4.Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers
n1=int(input("Enter the first number:"))
n2=int(input("Enter the  second number:"))
if n1<n2:
  small_no=n1
else:
  small_no=n2
HCF=1
for i in range (1,small_no+1):
  if n1%i==0 and n2%i==0:
      HCF=i
      print(HCF)
print("HCF of",n1,n2,"is",HCF)

Enter the first number:6
Enter the  second number:9
1
1
3
3
HCF of 6 9 is 3

In [ ]:
#4) Write a loop to print following series
#10, 20, 30, ....., 300
for i in range(10,301,10):
  print(i,end=',')

10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,

In [ ]:
#5.Write a loop to print following series
#105,98,91,………………………,7

for i in range(105,6,-7):
  print(i,end=' ')

105 98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [ ]:
#6.Write a program to print number names of digits in a number like 
#SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE
a = int(input("Enter the number: "))
words =[]
str1 = str(a)

for i in str1:
    if i == '1':
        words.append("One")
    if i == '2':
        words.append("Two")
    if i == '3':
        words.append("Three")
    if i == '4':
        words.append("Four")
    if i == '5':
        words.append("Five")
    if i == '6':
        words.append("Six")
    if i == '7':
        words.append("Seven")
    if i == '8':
        words.append("Eight")
    if i == '9':
        words.append("Nine")
result=' '.join(words)
print(result)

Enter the number: 456
Four Five Six

In [ ]:
#7) Write a program to print Fibonacci series till n terms take n =50
# 0,1,1,2,3,5,8,13....
a=0
b=1
n=50
print(a,b,end=', ')
for i in range(n-2):
 
  c=a+b
  print(c,end=',')
  a=b
  b=c

0 1, 1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,2584,4181,6765,10946,17711,28657,46368,75025,121393,196418,317811,514229,832040,1346269,2178309,3524578,5702887,9227465,14930352,24157817,39088169,63245986,102334155,165580141,267914296,433494437,701408733,1134903170,1836311903,2971215073,4807526976,7778742049,

In [ ]:
#8.Write a program to print factorial of a number.
num=int(input("Enter the number:"))
factorial=1
if num < 0:
  print("The number should be positive.")
elif num==0:
 print("The factorial of  is 1.")  
else:
  for i in range(1,num+1):
   factorial=factorial*i
  print("The factorial of",num, "is:",factorial)

Enter the number:6
The factorila of 6 is: 720

In [ ]:
#9.Write a program to check if a number is Armstrong or not.
#An Armstrong number is one whose sum of digits raised to the power three equals the number itself. 371, for example, is an Armstrong number because 3**3 + 7**3 + 1**3 = 371

n=int(input("Enter the number:"))
num=n
sum=0
while num>0:
 a=num%10 # it gives remainder
 print(a)
 sum+=a*a*a
 print(sum)
 num=num//10
 print(num)
if sum==n:
  print("It is Armstrong number.")
else:
  print("It is not a armstrong number.")

Enter the number:371
1
1
37
7
344
3
3
371
0
It is Armstrong number.

In [ ]:
371%10

1

In [ ]:
10.#Write a program to convert binary to decimal
num = int(input("Enter the binary number:"))
power = 0
decimal_sum = 0

while num > 0:
    a = num % 10
    decimal_sum += a * (2 ** power)
    num = num // 10
    power += 1
print("The required decimal number is:",decimal_sum)

Enter the binary number:10011
The required decimal number is: 19

In [ ]:
#11.Write a program to convert decimal to binary
num = int(input("Enter the decimal number:"))

binary_num = []

while num > 0:
    remainder = str(num % 2)
    binary_num.append(remainder)
    num = num // 2

binary_num.reverse()
print(binary_num)
binary_nums=''.join(binary_num)

print("The required binary number is:", binary_nums)

Enter the decimal number:19
['1', '0', '0', '1', '1']
The required binary number is: 10011

In [ ]:
19%10

9

In [ ]:
#12) Write a program to check if number is palindrome on not (Without converting to string)
n=int(input("Enter the number:"))
num=n
rev=0
pallin=[]
while num>0:
  a=num%10
  rev=rev*10+a
  num=num//10
if n==rev:
   print("It is a pallindrome number.")
else:
   print("It is not a pallindrome number.")

Enter the number:345
It is not a pallindrome number.

# **OR**

In [ ]:
#12) Write a program to check if number is palindrome on not (Without converting to string)
n=int(input("Enter the number:"))
num=n
rev=[]
pallin=[]
while num>0:
  a=num%10
  num=num//10
  rev.append(str(a))
  #print(rev)

pallin=''.join(rev)
print(pallin)
  
if n==int(pallin):
   print("It is a pallindrome number.")
else:
   print("It is not a pallindrome number.")

Enter the number:567
765
It is not a pallindrome number.

In [ ]:
#13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500
for i in range(100,501):
  if i%13==0 and i%3!=0:
    print(i,end=' ')

104 130 143 169 182 208 221 247 260 286 299 325 338 364 377 403 416 442 455 481 494

In [ ]:
#14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.
def Fahrenheit_to_Celsius(Fahrenheit):

  Celsius=(Fahrenheit-32)*5/9
  return Celsius 
def Celsius_to_Fahrenheit(Celsius):
  Fahrenheit=(Celsius*9/5)+32
  return Fahrenheit 

Fahrenheit=float(input("Enter the Fahrenheit teperature:"))
Celsius=Fahrenheit_to_Celsius(Fahrenheit)
print("The  Celsius temperature is",Celsius)

Celsius=float(input("Enter the Celsius teperature:"))
Fahrenheit=Celsius_to_Fahrenheit(Celsius)
print("The  Fahrenheit temperature is",Fahrenheit)

Enter the Fahrenheit teperature:76
The  Celsius temperature is 24.444444444444443
Enter the Celsius teperature:24
The  Fahrenheit temperature is 75.2

In [2]:
'''15) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row
 and j-th column of the array should be i*j. else it will be 0'''
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))

# 2d list list[0][1]
grid = []
for i in range(row_num):
    row = []
    for j in range(col_num):
        row.append(i * j)
    grid.append(row)
    print(row)

Input number of rows: 4
Input number of columns: 4
[0, 0, 0, 0]
[0, 1, 2, 3]
[0, 2, 4, 6]
[0, 3, 6, 9]

In [ ]:
'''16. Write a Python program that accepts a string and calculates the number of digits and letters.
Sample Data: Python 3.2
Expected Output: 
Letters 6
Digits 2'''
digit=0
letter=0
str1=input("enter the string:")
for i in str1:
  if i.isalpha():
   letter=letter+1
  elif i.isdigit(): 
   digit=digit+1
  else:
    pass
print("Total letters are.",letter)
print("Total digits are.",digit)

enter the string:435hgh 57y
Total letters are. 4
Total digits are. 5

In [3]:
'''17) Print all possible combination for a string or a word
Sample input “ABC”
Sample output
BAC
CAB
CBA
ACB
BCA'''

import random
all_combinations=[]

def get_permutation(string_inp):
  list_final=[]
  for k in range(len(string_inp)):
    set_temp=set()
    words=[c for c in string_inp]
    words.pop(k)
    while len(set_temp)!=len(string_inp)-1:
      random.shuffle(words)
      set_temp.add(string_inp[k]+"".join(words))
    list_final=list_final+list(set_temp)
  return list_final
#{'uyyp', 'yyup', 'yuyp', 'yupy', 'upyy', 'uypy', 'pyuy', 'yypu', 'puyy', 'ypyu', 'ypuy', 'pyyu'}
print(get_permutation('yupy'))

['yupy', 'yuyp', 'ypyu', 'uypy', 'upyy', 'uyyp', 'pyyu', 'pyuy', 'puyy', 'yupy', 'ypyu', 'ypuy']

In [ ]:
#18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side.
a = int(input("Enter a variable: "))
b=int(input("Enter b variable: "))
c=int(input("Enter c variable8: "))
print(a,b,c)
if a==b and b==c:
  print("The triangle is equilateral.")
elif a==b or b==c:
  print("The triangle is isosceles.")
elif a!=b and b!=c:
  print("The triangle is scalene.")
else:
  print("Error value.")

Enter a variable: 3
Enter b variable: 7
Enter c variable8: 9
3 7 9
The triangle is scalene.

In [ ]:
'''19) Write a Python program to get the next day of a given date.
Expected Output:
Input a year: 2016                                                      
Input a month [1-12]: 08                                                
Input a day [1-31]: 23                                                  
The next date is [yyyy-mm-dd] 2016-8-24 ''' 

a = int(input("Enter a year: "))
b=int(input("Enter a month [1-12]: "))
c=int(input("enter a day [1-31]: "))
if c==31 or (b==2 and c==28)or((b==4 or b==6 or b==9 or b==11) and c==30):#if it is last day of month
  if b==12:# to check for last day of december, adding q to the year to make it next year
   a=a+1
   b=1
   c=1
  else:# if last day of month, setting the day to 1

   b=b+1
   c=1
else:
    c=c+1


print("The next day is [yyyy-mm-dd] ",a,"-",b,"-",c)

Enter a year: 2016
Enter a month [1-12]: 2
enter a day [1-31]: 28
The next day is [yyyy-mm-dd]  2016 - 3 - 1