In [ ]:
# LIST ARE MUTABLE
list_demo=[1,2,3,4,5,6]
list_demo[1]=88
list_demo

[1, 88, 3, 4, 5, 6]

In [ ]:
# Append function helps us add value at the last index of string
list_demo.append("Hello")
list_demo

[1, 88, 3, 4, 5, 6, 'Hello']

In [ ]:
# 1 data type for sorting
list_demo=[1,42,3,88,5,6]
list_demo.sort(reverse=True)
list_demo

[88, 42, 6, 5, 3, 1]

In [ ]:
# 1 data type for sorting
list_demo=['b','c','a','d','1','2']
list_demo.sort()
list_demo

['1', '2', 'a', 'b', 'c', 'd']

In [ ]:
list_demo=['b','c','a','d','1','2']
list_demo_2=['hello','Python']
list_demo.append(list_demo_2)
print(list_demo)
# You can compare two types of datatype

['b', 'c', 'a', 'd', '1', '2', ['hello', 'Python']]

In [ ]:
list_demo=['b','c','a','d','1','2']
list_demo_2=['hello','Python']
list_demo.extend(list_demo_2)
print(list_demo)
list_demo.sort()
print(list_demo)

['b', 'c', 'a', 'd', '1', '2', 'hello', 'Python']
['1', '2', 'Python', 'a', 'b', 'c', 'd', 'hello']

In [ ]:
list_demo=['b','c','a','d','1','2']
list_demo.reverse()
print(list_demo)

['2', '1', 'd', 'a', 'c', 'b']

In [ ]:
#
list_demo=[1,2,3,4,5,6,7,8,1,2,11,1,0]
print(list_demo.count(13))

0

In [ ]:
list_demo=[1,2,3,4,5,6,7,8,1,2,11,1,0]
list_demo1_copy=list_demo.copy()
list_demo2_copy=list_demo
list_demo[0]=0
print(list_demo1_copy)
print(list_demo)
print(list_demo2_copy)

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 11, 1, 0]
[0, 2, 3, 4, 5, 6, 7, 8, 1, 2, 11, 1, 0]
[0, 2, 3, 4, 5, 6, 7, 8, 1, 2, 11, 1, 0]

In [ ]:
# finds the lowest index of the value in list
list_demo=[1,2,3,4,5,6,7,8,1,2,11,1,0]
print(list_demo.index(2))

1

In [ ]:
list_demo=[1,2,3,4,5,6,7,8,1,2,11,1,0]
# POP REMOVES FROM LAST IF NO VALUE, If a value is entered it removed from that index
list_demo.pop()
list_demo

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 11, 1]

In [ ]:
tuple_demo={1,2,2}
print(tuple_demo)

{1, 2}

In [ ]:
list_demo=[1,2,3,4,5,6,7,8,1,2,11,1,0]
print(tuple(list_demo))

<class 'tuple'>

In [ ]:
list_demo=['Harry',"Potter",'and','The','goblet',"of",'Fire']

# +ve indexing +ve slicing (left to right)
print(list_demo[0:len(list_demo):1])

# -ve indexing -ve slicing (right to left)
print(list_demo[-1:-(len(list_demo)+1):-1])

# +ve indexing -ve slicing (right to left)
print(list_demo[6::-1])

# -ve indexing +ve slicing (left to right)
print(list_demo[-7::1])

['Harry', 'Potter', 'and', 'The', 'goblet', 'of', 'Fire']
['Fire', 'of', 'goblet', 'The', 'and', 'Potter', 'Harry']
['Fire', 'of', 'goblet', 'The', 'and', 'Potter', 'Harry']
['Harry', 'Potter', 'and', 'The', 'goblet', 'of', 'Fire']

In [ ]:
# WAP TO FIND COUNT OF ALL ELEMENTS IN A STRING

string_question1="hello my friend how are you doing today"
string_question1=string_question1.replace(" ","")
print(string_question1)
print(set(string_question1))
print(string_question1.count('o'))
print(string_question1.count('y'))
print(string_question1.count('f'))
print(string_question1.count('r'))
print(string_question1.count('a'))
print(string_question1.count('l'))
print(string_question1.count('d'))
print(string_question1.count('i'))
print(string_question1.count('w'))
print(string_question1.count('g'))
print(string_question1.count('n'))
print(string_question1.count('h'))
print(string_question1.count('t'))
print(string_question1.count('m'))
print(string_question1.count('e'))
print(string_question1.count('u'))

hellomyfriendhowareyoudoingtoday
{'o', 'y', 'f', 'r', 'a', 'l', 'd', 'i', 'w', 'g', 'n', 'h', 't', 'm', 'e', 'u'}
5
3
1
2
2
2
3
2
1
1
2
2
1
1
3
1

In [ ]:
# FIND THE LARGEST NUMBER IN THE LIST
a=[1,10,18,19,66,101,85]
a.sort()
print(a[-1])

101

In [ ]:
a=[1,10,18,19,66,101,85]
b=[1,2,6,8,9]
print(a+b)

[1, 10, 18, 19, 66, 101, 85, 1, 2, 6, 8, 9]

In [ ]:
list_str=['Harry',"potter","and","the","goblet","of","fire"]
' '.join(list_str)
# take 1 first value +"string" + 2nd value

'Harry$potter$and$the$goblet$of$fire'

In [ ]:
# change to su=you then print out as a string with space in between
demo_tuple=("Hey","How",'are',"su")
demo_tuple=' '.join(demo_tuple)
print(demo_tuple.replace('su','you'))

Hey How are you

In [ ]:
# change to su=you then print out as a string with space in between
demo_tuple=("Hey","How",'are',"su")
demo_tuple=' '.join(demo_tuple)
print(demo_tuple.replace('su','you'))

In [ ]:
"""
1) a=[1,2,3,4,5,6,7,8] Divide this list in two equal paths

2) c=[1,2,3,4,5,1,2,3,'a','b',['h','a']] find count of all elements in this list

3) Write a Python program to reverse a string "11abcdeghsuyy"

4) Write a program to insert number 88 on 2nd index of this list and number on 2nd index should move to last index of the list

 a=[1,2,3,4,5,7] Expected Output= [1,2,88,4,5,7,3]
"""

In [ ]:
# 1) a=[1,2,3,4,5,6,7,8] Divide this list in two equal paths
a=[1,2,3,4,5,6,7,8]
print(a[0:len(a)//2])
print(a[len(a)//2:len(a)])

[1, 2, 3, 4]
[5, 6, 7, 8]

In [ ]:
# Write a Python program to reverse a string "11abcdeghsuyy"
string_temp="11abcdeghsuyy"

print(string_temp[len(string_temp)::-1])

yyushgedcba11

In [ ]:
# c=[1,2,3,4,5,1,2,3,'a','b',['h','a']] find count of all elements in this list
c=[1,2,3,4,5,1,2,3,'a','b',['h','a']]
poped_list=c.pop()
print("POP RETURNED ",poped_list)
print("CHANGED C AFTER POP ",c)
#c.extend(poped_list)
c=c+poped_list

print(" THE EXTENDED LIST ",c)
print(set(c))
print(c.count(1))
print(c.count(2))
print(c.count(4))
print(c.count(5))
print(c.count(3))
print(c.count('h'))
print(c.count('a'))
print(c.count('b'))

POP RETURNED  ['h', 'a']
CHANGED C AFTER POP  [1, 2, 3, 4, 5, 1, 2, 3, 'a', 'b']
 THE EXTENDED LIST  [1, 2, 3, 4, 5, 1, 2, 3, 'a', 'b', 'h', 'a']
{1, 2, 3, 4, 5, 'h', 'a', 'b'}
2
2
1
1
2
1
2
1

In [ ]:
"""
4) Write a program to insert number 88 on 2nd index of this list and number on 2nd index should move to last index of the list

 a=[1,2,3,4,5,7] Expected Output= [1,2,88,4,5,7,3]
"""
# removes works on values pop works on index
a=[1,2,3,4,5,7]
poppped_value=a.pop(2)
print("POPPED LIST ",a)
a.insert(2,88)
print("AFTER INSERTION ",a)
a.append(poppped_value)
print("FINAL OUTPUT ",a)

POPPED LIST  [1, 2, 4, 5, 7]
AFTER INSERTION  [1, 2, 88, 4, 5, 7]
FINAL OUTPUT  [1, 2, 88, 4, 5, 7, 3]

In [ ]:
age=17
if age>=18:
 print("Valid")
else:
 print("INVALID")

INVALID

In [ ]:
num=77
if (num)%7==0:
  print("Number is divisble by 7")
else:
  print("Number not divisble by 7")

Number is divisble by 7

In [ ]:
num=55
if (num)%2==0:
  print("Number is even")
else:
  print("Number is odd")

Number is odd

In [ ]:
### / returns float // returns
print(9/2) # float
print(9//2) # integer int(4.5)

4.5
4

In [ ]:
num=59
if (num)%5==0:
  print("Hello")
else:
  print("Bye")

Bye

In [ ]:
"""
Write a program to calculate electricity bill according to following criteria

 

First 100 units                     No Charge

Next 100 units                     5 rupees per unit

After 200 Units                     10 rupees per unit
"""

# 100 >>>0 100*5>>>>>500  150*10>>>>>1500
units=350
if units<=100:
  print(0)
elif units>100 and units<=200:
  #if its 150 units we will be charged for 50 units
  print((units-100)*5)
elif units>200:
  print(500+(units-200)*10)

2000

In [ ]:
upper=7
for num in range(2, upper):
  for i in range(2, num):
      if (num % i) == 0:
          break
  else:
      print(num)

2
3
5

In [ ]:
"""

1) Calculate the sum of all numbers from 1 to a given number

2) Write a program to print multiplication table of a given number

3) Count the total number of digits in a number # 555 has 3 digits

4) Reverse a given integer number

5) Calculate the cube of all numbers from 1 to a given number

"""

'1) Calculate the sum of all numbers from 1 to a given number\n\n2) Write a program to print multiplication table of a given number\n\n3) Count the total number of digits in a number\n\n4) Reverse a given integer number\n\n5) Calculate the cube of all numbers from 1 to a given number\n\n\n'

In [ ]:
n=5
sum=0

for k in range(1,n+1):
  sum=sum+k

print(sum)

15

In [ ]:
n=653
len(str(n))

In [ ]:
a=5
while a>=0:
  print("value of a in this iteration is",a)
  a=a-1
  print("Hey")

value of a in this iteration is 5
Hey
value of a in this iteration is 4
Hey
value of a in this iteration is 3
Hey
value of a in this iteration is 2
Hey
value of a in this iteration is 1
Hey
value of a in this iteration is 0
Hey

In [ ]:
a=5
while a>=0:
  #print("value of a in this iteration is",a)
  if a==2:
    break
  else:
    print(a)
  a=a-1  


# 1st iteration 5 a=a-1  a=4 now
# 2nd iteration 4 a=a-1  a=3 now
# 3rd iteration 3 a=a-1  a=2 now

5
4
3

In [ ]:
a=5
while a>=0:
  #print("value of a in this iteration is",a)
  a=a-1 
  if a==2:
    print("Value of A was 2 here")
    continue
  else:
    print(a)
   
# coninue falls back to while loop directly ignoring stuff below

4
3
Value of A was 2 here
1
0

In [ ]:
a=4
for i in range(5):
  print("hello")
  a=a-1
  print("Bye")

hello
Bye
hello
Bye
hello
Bye
hello
Bye
hello
Bye

In [ ]:
a_str ="abcd"
# len() returns the length of the string
for k in range(len(a_str)): # 0,4,1
  # 0 ,1,2,3
  print(a_str[k])

a
b
c
d

In [ ]:
a_str ="abcd"
for k in a_str:
  print(k)

a
b
c
d

In [ ]:
for k in ["abcd",'b','d','e']:
  print(k)

abcd
b
d
e

In [ ]:
a_str =["abcd",'b','d','e']
for k in range(len(a_str)):
  print(k)

0
1
2
3

In [ ]:
#Write a Python program to count the number of characters (character frequency) in a string.
a="hello world i hope everyone is doing well"
for k in set(a):
  print("Frequency of "+str(k) +" is :- ",a.count(k))

Frequency of y is :-  1
Frequency of i is :-  3
Frequency of l is :-  5
Frequency of d is :-  2
Frequency of o is :-  5
Frequency of w is :-  2
Frequency of n is :-  2
Frequency of g is :-  1
Frequency of v is :-  1
Frequency of e is :-  6
Frequency of s is :-  1
Frequency of r is :-  2
Frequency of h is :-  2
Frequency of p is :-  1
Frequency of   is :-  7

In [ ]:
# without count function
a="hello world i hope everyone is doing well".lower()
for k in set(a):
  freq=0
  for j in a:
    if k==j:
      freq=freq+1
  print("Frequency of "+str(k) +" is :- ",freq)

Frequency of y is :-  1
Frequency of i is :-  3
Frequency of l is :-  5
Frequency of d is :-  2
Frequency of o is :-  5
Frequency of w is :-  2
Frequency of n is :-  2
Frequency of g is :-  1
Frequency of v is :-  1
Frequency of e is :-  6
Frequency of s is :-  1
Frequency of r is :-  2
Frequency of h is :-  2
Frequency of p is :-  1
Frequency of   is :-  7

In [ ]:
#Python program to convert lower letter to upper and upper letter to lower in a string.
#Write a python program to sort letters of word by lower to upper case format.
#Write a program in Python to count lower, upper, numeric and special characters in a string.
# Write a program in Python, which returns the first word of a given text.
#Write a program in Python to remove an empty character from a list sequence.
#Python program to convert all the starting letter of a word in upper case format or in the title format.
# find the file extension from the name of the file for example demofile.pdf

In [ ]:
#Python program to convert lower letter to upper and upper letter to lower in a string.
swapped_string=""
name = "JoHn CeNa"
for k in name:
  if k.isupper():
    swapped_string=swapped_string+k.lower()
  else:
    swapped_string=swapped_string+k.upper()
print(swapped_string)

jOhN cEnA

In [ ]:
#Write a python program to sort letters of word by lower to upper case format.
temp_str="Python Programming IS EASY IF you practise?"
lower_str=[]
upper_str=[]
for k in temp_str:
  if k.islower():
    lower_str.append(k)
  else:
    upper_str.append(k)
lower_str.sort()
upper_str.sort()
print("".join(lower_str+upper_str))
# print("".join(sorted(lower_str)+sorted(upper_str)))

aacegghiimmnnoooprrrsttuyy      ?AEFIIPPSSY

In [ ]:
dir("hello")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#Write a program in Python to count lower, upper, numeric and special characters in a string.
lower_count=0
upper_count=0
numeric_count=0
special_count=0
str_temp="Hello Python  1 2 3 what are you Doing?"

for k in str_temp:
  if k.islower():
    lower_count=lower_count+1
  elif k.isupper():
    upper_count=upper_count+1
  elif k.isnumeric():
    numeric_count=numeric_count+1
  else:
    print("special character ",k)
    # space is counted as special character
    special_count=special_count+1
print(" Count of lowercase ",lower_count)
print(" Count of uppercase ",upper_count)
print(" Count of numeric ",numeric_count)
print(" Count of special characters ",special_count)

special character
special character
special character
special character
special character
special character
special character
special character
special character
special character  ?
 Count of lowercase  23
 Count of uppercase  3
 Count of numeric  3
 Count of special characters  10

In [ ]:
demo_list=["hello",1,"","bye","","","",""]
new_list=[]
for k in demo_list:
  if len(str(k)) >0:
    new_list.append(k)
print(new_list)

['hello', 1, 'bye']

In [ ]:
# WHY IT DOESNT WORKS WITH POP

demo_list=["hello",1,"","bye","","","",""]
new_list=demo_list.copy()
for k in range(len(demo_list)):
  print("Lenth of new_list is ",len(new_list))
  print("The value of k is ",k)
  if len(str(demo_list[k])) <=0:
    new_list.pop(k)
print(new_list)

Lenth of new_list is  8
The value of k is  0
Lenth of new_list is  8
The value of k is  1
Lenth of new_list is  8
The value of k is  2
Lenth of new_list is  7
The value of k is  3
Lenth of new_list is  7
The value of k is  4
Lenth of new_list is  6
The value of k is  5
Lenth of new_list is  5
The value of k is  6

IndexError: ignored

In [ ]:
filename="demofile.jpeg"
# -1 is last index
print("THE FILE EXTENSION IS :- ",filename.split(".")[-1])

THE FILE EXTENSION IS :-  jpeg

In [ ]:
a=[1,2,3,4,5,6,7]
# rows =1,columns =7

a=[[1,2,[4,3]],[2,3,4],[5,6,7]]

# rows =3 and 3 columns
print(a[0])
print(a[0][2])
print(a[0][2][0])

[1, 2, [4, 3]]
[4, 3]
4